[Unit]
Description=Service for USB gadgets
After=upHILkeyboard.service

[Service]
Type=simple
ExecStart=/usr/bin/python /share/rf_server.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target